.btn {
  transition: all 0.1s;
  background: var(--blue-bright);
  padding: 10px 30px;
  border: none;
  color: var(--text-dark);
  font-weight: 700;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  max-width: 200px;

  &--long {
    width: 100%;
    max-width: none;
    letter-spacing: 3px;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:focus {
    border: 1px solid var(--gray1);
  }

  &:hover {
    color: var(--text-light);
    cursor: pointer;
  }

  &[disabled] {
    background: var(--blue-dimmed);
  }
}
