.login {
  background: var(--bg-dark-1);
  display: flex;
  flex: 1;
  align-self: stretch;
  justify-content: center;
  align-items: center;

  &__form-container {
    display: flex;
    border-radius: 10px;
    height: 250px;
    min-width: 600px;
    padding: 20px;
    background: var(--teal2);
    align-content: center;
    box-shadow: 0 0 15px 25px rgba(33, 173, 222, 0.4);
  }

  &__form {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    &__submit {
      justify-content: flex-end;
    }

    & .btn {
      margin: 0 auto;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }

  &__field-group:not(:first-child) {
    margin: 15px 0;
  }
}
