.wall {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__nav {
    display: flex;
    padding-bottom: 20px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
