.wall {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__nav {
    display: flex;
    padding-bottom: 20px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
  }
}

@media (max-width: 930px) {
  .wall {
    &__nav {
      .btn {
        flex: 1;
        max-width: 300px;
      }

      .input-field {
        flex: 1;
      }
    }
  }
}

@media (max-width: 550px) {
  .wall {
    &__main {
      justify-content: center;
    }

    &__nav {
      flex-direction: column;

      .btn {
        max-width: none;
      }

      .input-field input {
        margin: 10px 0 0 0;
      }
    }
  }
}
