.input-field {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;

  &__label {
    align-self: center;
    font-size: 1.1rem;
  }

  &__input {
    padding: 7px 15px;
    border: 1px solid var(--gray1);
    background: #24272a;
    transition: all 0.1s;
    border-radius: 20px;
    font-size: 13px;
    color: var(--text-light);
    flex: 1;
    margin-left: 15px;

    &:hover {
      background: #263238;
    }

    &:focus {
      outline: none;
      border: 1px solid var(--primary);
    }

    &.error {
      border: 1px solid var(--error);
    }
  }
}
